.error_container{
    padding: 1% 1%;
    margin-top: 1%;
    width: max-content;
    max-width: 30%;
    background-color: var(--error);
    border-radius: var(--container-border-radius);
    color: var(--main-light)
}

.form-button-alt{
    border: none;
    background: var(--alt-light);

    color: var(--alt-dark);
    font-weight: var(--font-width-bold);
    font-size: var(--font-size-p);
    padding: 0.5% 3%;
    margin: 1%;
    border-radius: 10px;
}
.form-button{
    border: none;
    background: var(--alt-dark);

    color: var(--alt-light);
    font-weight: var(--font-width-bold);
    font-size: var(--font-size-p);
    padding: 0.5% 3%;
    margin: 1%;
    border-radius: 10px;
}

.info_container{
    padding: 2% 2%;
    width: 50%;
    background-color: var(--alt-light);
    border-radius: var(--container-border-radius);
    border-radius: 10px;
}
.info_container form{
    padding: 0% 5%;
}
.info_container div{
    padding: 0% 5%;
}
.info_container label{
    margin-right: 20px;
    color: var(--alt-dark);
    font-weight: var(--font-width-semibold);
}

.info_container-img{
    height: 100px; 
    width: 100px;
}

.input-div{
    margin: 1% 0%;
    justify-content: space-between;
}

.info_container input{
    align-self: flex-end;
    border: none;
    height: 20px;
    width: 100%;

    border-radius: var(--input-border-radius);
}
.info_container input:disabled{
    background-color: var(--main-light);
}

.log-sign-label{
    font-weight: var(--font-width-bold);
    color: var(--alt-dark);
}
