@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --main: #E4DCFF;
    --main-light: #ffffff;
    --main-dark: #3D30A2;
    --alt-light: #fde18d;
    --alt-dark: #3c351c;
    --transparent-color: rgba(0,0,0,0);
    --gray-light: #b3a9d6;
    
    --error: #eb6a63;

    --font-family-main:"Montserrat";
    --font-width-regular: 400;
    --font-width-medium: 500;
    --font-width-semibold: 600;
    --font-width-bold: 700;
    --font-size-p: 20px;
    --font-size-min: 14px;
    --font-size-h1: 40px;
    --font-size-h2: 32px;
    --font-size-h3: 26px;
    --font-size-h4: 18px;
    --font-size-h5: 14px;

    --input-border-radius: 50px;
    --course-box-border-radius: 25px;
    --button-border-radius: 16px;
    --container-border-radius: 0px;
}

*{
    font-weight: var(--font-width-regular);
}
#root{
    margin: 0px;
    background: var(--main-light);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p{
    font-weight: var(--font-width-regular);
}
label{
    font-weight: var(--font-width-regular);
}
.link{
    text-decoration: none;
}
.link:hover{
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6, .course-name{
    color: var(--main-dark);
    font-weight: var(--font-width-bold);
}
h1, h2{
    text-align: center;
}
h3{
    font-weight: var(--font-width-semibold);
    text-align: left;
}
h4{
    font-weight: var(--font-width-semibold);
    text-align: left;
}
h5{
    font-weight: var(--font-width-semibold);
    text-align: left;
}

label{
    color: var(--main-dark);
    font-weight: var(--font-width-medium);
}

a{
    text-decoration: none;
}
li{
    font-size: var(--font-size-p);
}

input[type="submit"],input[type="reset"]{
    cursor: pointer;
}

button{
    cursor: pointer;
    color: var(--main-dark);
    
    font-size: var(--font-size-min);

    padding-left: 15px;
    padding-right: 15px;

    border: none;
}
.header-button{
    background-color: var(--transparent-color);
    color: var(--main-light);
}
.header-user-button{
    background-color: var(--alt-light);
    color: var(--alt-dark);

    font-weight: var(--font-width-bold);

    border-radius: var(--button-border-radius);
    height: 30px;
}
#page-selector{
    margin-top: auto;
}


.name-label{
    font-family: var(--font-family-main);
    font-weight: var(--font-width-bold);
    font-size: var(--font-size-p);
    
    color: var(--main-light);
}

#header-right-span{
    margin-left: auto;
}
#header-left-span{
    margin-right: auto;
}

.author-name{
    margin: 0;
}
.author-container{
    display: flex;
}



.courses-table{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.icon
{
    height: 1em; 
    width: 1em;
}
#warning-icon{
    display: flex;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.body-container{
    flex-grow: 1;
}