.container-input
{
    display: flex;
    justify-content: center;
}
.input {
    width: 40%;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 3px var(--main-dark);
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.input:focus {
    opacity: 1;
    width: 60%;
}
/* .search-bar{
    overflow: hidden;
    margin: 0% 30%;
    height: auto;
    border-radius: var(--course-box-border-radius);
    background-color: var(--main);

    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar input{
    background-color: var(--transparent-color);
    height: 100%;
    width: 100%;
    border: none;
    background-color: none;
    color: var(--main-dark);
    font-weight: var(--font-width-medium);
}
.search-bar input::placeholder{
    color: var(--main-dark);
    font-weight: var(--font-width-medium);
}
.search-bar input:focus{
    outline: none;
}
.search-bar .icon{
    padding: 2%;
} */