.course-page-container{
    background-color: var(--main);
    margin: 5%;
}
.course-page-header-container{
    display: flex;
    flex-wrap: wrap;
}
.course-page-header-container-child{
    width: 50%;
    padding: 3%;
}
.course-page-container-child{
    width: 100%;
    padding: 3%;
}

#course-page-img{
    height: 70%;
    width: 100%;
    object-fit: cover;
}
#course-page-description-text{
    text-align: justify;
}
#course-page-author-container{
    flex-direction: row-reverse;
}
#course-page-price-n{
    display: flex;
    flex-direction: row-reverse;
}

#enroll-button{
    background-color: var(--main-dark);
    color: var(--alt-light);
    font-size: var(--font-size-p);
    font-weight: var(--font-width-bold);

    height: 50px;
    width: 200px;
}



/* rating */
.rating-icon{
    height: 45px;
    width: 45px;
}
.rating{
    height: 45px;
}
.rating:not(:checked) > input {
    appearance: none;
}
  
.rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;
}

.rating:not(:checked) > label:before {
    content: '★'; 
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #ff9e0b;
}

.rating > input:checked ~ label {
    color: #ffa723;
}



.accordion li{
    list-style: none;
    width: 100%;
}

.accordion-button{
    background-color: var(--main-light);
}
.accordion-item{
    background-color: var(--main-light);
}
