.course-box{
    border-radius: var(--course-box-border-radius);
    border-width: 0px;
    background-color: var(--main);
    overflow: hidden;
    max-width: 350px;
    min-width: 350px;
    max-height: 250px;
    min-height: 250px;
    margin: 1vw;
}
.course-box-items{
    padding: 1%;
    margin: 0% 5%;
    margin-top: 2%;
    margin-bottom: 10%;
}
.course-img-container{
    height: 150px;
}
.course-img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.course-name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0px;
    /* height: 25px; */
}
